.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.link-wrap{
    font-weight: bolder;
    margin: 1rem;
}

.link {
    color:black;
    text-decoration: none;
    display:flex;
    justify-content: space-evenly;
}
.username-box{
    position: fixed;
    bottom: 20px;
    left : 25px;
    padding: 2em;
    justify-self: center ;
    justify-items: end;

  }
  
.sidebar{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: aqua;
}