.sidebar2{
    display: flex;
    flex-direction: column;
    height:100%;
    background-color: rgb(219, 218, 218);
   
}
.main-div{
       
    padding: 10px;
    padding-bottom: 0%;
    
}
.sortby{
    padding:1rem;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
