.post-container{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    background-color:white;
}

.upvote-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.bi-caret-up-fill,.bi-caret-down-fill{
    cursor: pointer;
}
.main-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    text-align: left;
}
.top-bx{
    display: flex;
}

.post-bx{
    font-weight: bold;
    font-size: medium;
    font-size:larger;
    overflow-wrap: normal;
}
.tags-bx{
    display: flex;
    overflow-wrap: normal;
}
.tags-pills{
    background-color: rgb(219, 218, 218);
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: .5rem;

}
.desc-bx{
    overflow-wrap: normal;
}
.button-bx{
    display: flex;
    justify-content: space-between;
    
}
.buttons{
    padding: .5rem;
    cursor: pointer;

}